<h1 class="padding-md">Latest Adventures</h1>
<div class="flex margin-md font-white latest-posts-container"  *ngIf='allAdventures'>
  <div class="fl-one">
    <!--<article class="article-box-1" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url('assets/images/adventure-photos/canoe-girl.jpg') bottom/cover no-repeat">-->
    
    <!--<article class="article-box-1" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),  url(`{{allAdventures.adventures[0].image}}`) bottom/cover no-repeat">-->

    <article class="article-box-1 pos-ralative" style="background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) bottom/cover no-repeat">
      <img class="bg-image" [attr.src]="allAdventures.adventures[0].image">
      
      <h2>{{ allAdventures.adventures[0].title }}</h2>
      <button class="read-btn" [routerLink]="['/single-adventure', allAdventures.adventures[0].ID]" outerLinkActive="active">READ MORE</button>
    </article>

  </div>
  <div class="flex fl-col fl-one">
    <article class="article-box-2 fl-one">
      <h3>{{ allAdventures.adventures[1].title }}</h3>
      <button class="read-btn" [routerLink]="['/single-adventure', allAdventures.adventures[1].ID]" outerLinkActive="active">READ MORE</button>
    </article>
  
    <div class="flex fl-one">
      <article class="article-box-3 fl-one">
          <h4>{{ allAdventures.adventures[2].title }}</h4>
          <button class="read-btn" [routerLink]="['/single-adventure', allAdventures.adventures[2].ID]" outerLinkActive="active">READ MORE</button>
      </article>
      <article class="article-box-4 fl-one">
          <h4>{{ allAdventures.adventures[3].title }}</h4>
          <button class="read-btn" [routerLink]="['/single-adventure', allAdventures.adventures[3].ID]" outerLinkActive="active">READ MORE</button>
      </article>
    </div>
  </div>  
</div>
<button class="adv-btn" routerLink="/all-adventures" outerLinkActive="active">MORE ADVENTURES</button>
