<h1 class="padding-md">Inhabitent Journal</h1>
<div class="flex margin-md">
  <article class="journal-container">
    <img src="assets/images/blog-photos/van-camper.jpg" class="width-full">
    <div>
      <p>14 Aoril 2016 / 3 comments</p>
      <h3>Van camping photo Contest</h3>
      <button class="entry-btn">READ ENTRY</button>
    </div>
  </article>

  <article class="journal-container">
    <img src="assets/images/blog-photos/warm-cocktail.jpg" class="width-full">
    <div>
      <p>14 Aoril 2016 / 3 comments</p>
      <h3>Van camping photo Contest</h3>
      <button class="entry-btn">READ ENTRY</button>
    </div>
  </article>

  <article class="journal-container">
    <img src="assets/images/blog-photos/healthy-camp-food.jpg" class="width-full">
    <div>
      <p>14 Aoril 2016 / 3 comments</p>
      <h3>Van camping photo Contest</h3>
      <button class="entry-btn">READ ENTRY</button>
    </div>
  </article>

</div>
