/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*Main styles*/
body, html {
font-family: 'Merriweather', serif;
font-size: 16px;
line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', sans-serif;
}

/*Flex*/

.flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.fl-wrap {
  flex-wrap: wrap;
}

.fl-jstcont-spbtw {
  justify-content: space-between;
}
/*Colors*/
.font-white {
  color: white;
}

/*Paddings-Margins-Alignment*/
.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.padding-sm {
  padding: 20px;
}

.padding-md {
  padding: 50px;
}
/* Navigation */
nav {
  max-height: 50px;
}

nav img {
  width: 80px;
}

nav ul {
  width: 40%;
}

/*Footer*/
.footer {
  background: url('../images/dark-wood.png');
  line-height: 1.8em;
  padding-bottom: 0px; 
}

.footer-logo {
  width: 50%;
}