<app-nav-dark></app-nav-dark>

<h1 class="padding-md">All Adventures</h1>

<article class="margin-md all-advnt-container">
  <div style='background-image: url("assets/images/blog-photos/glamping.jpg")' class="all-advtr-img-holder">
    <h2 class="font-white">Some Title Here</h2>
  </div>
  <p>Lorem ipsum dolor sit amet, ea natum suavitate repudiare duo, ei eos wisi officiis sapientem. Dictas laoreet vivendo vix te. Mel nemore inermis te, suas saepe signiferumque ei has, mea erat nihil ei. Eum no dolorem petentium deterruisset, cu sale magna definitiones his, eligendi periculis sea ne. Vis ei nullam partiendo, vim laudem salutandi persecuti id.</p>
  <button class="entry-btn" routerLink="/single-adventure" outerLinkActive="active">READ MORE</button>
</article>
