<h1 class="padding-md">Shop Stuff</h1>
<div class="flex margin-md">
  <article class="shop-container text-center margin-sm">
    <img src="assets/images/product-type-icons/do.svg" class="width-quarter">
    <p>Get back to nature with all the tools and toys you need to enjoy the great outdoors</p>
    <button class="shop-btn margin-sm">DO STUFF</button>
  </article>

  <article class="shop-container text-center margin-sm">
    <img src="assets/images/product-type-icons/eat.svg" class="width-quarter">
    <p>Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
    <button class="shop-btn margin-sm">EAT STUFF</button>
  </article>

  <article class="shop-container text-center margin-sm">
    <img src="assets/images/product-type-icons/sleep.svg" class="width-quarter">
    <p>Get a good nigth's rest in the wild in a home away from home that travels well.</p>
    <button class="shop-btn margin-sm">SLEEP STUFF</button>
  </article>

  <article class="shop-container text-center margin-sm">
    <img src="assets/images/product-type-icons/wear.svg" class="width-quarter">
    <p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
    <button class="shop-btn margin-sm">WEAR STUFF</button>
  </article>

</div>